In [523]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [524]:
sups_info=pd.read_csv('heroes_information.csv')
sups_info.head()

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [525]:
sups=sups_info.drop(['Unnamed: 0'], axis=1)
sups.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [526]:
#missing values
sups.isna().sum()

name           0
Gender         0
Eye color      0
Race           0
Hair color     0
Height         0
Publisher     15
Skin color     0
Alignment      0
Weight         2
dtype: int64

In [527]:
# unique values
sups['Publisher'].unique()

array(['Marvel Comics', 'Dark Horse Comics', 'DC Comics', 'NBC - Heroes',
       'Wildstorm', 'Image Comics', nan, 'Icon Comics', 'SyFy',
       'Hanna-Barbera', 'George Lucas', 'Team Epic TV', 'South Park',
       'HarperCollins', 'ABC Studios', 'Universal Studios', 'Star Trek',
       'IDW Publishing', 'Shueisha', 'Sony Pictures', 'J. K. Rowling',
       'Titan Books', 'Rebellion', 'Microsoft', 'J. R. R. Tolkien'],
      dtype=object)

In [528]:
sups['Skin color'].unique()

array(['-', 'blue', 'red', 'black', 'grey', 'gold', 'green', 'white',
       'pink', 'silver', 'red / black', 'yellow', 'purple',
       'orange / white', 'gray', 'blue-white', 'orange'], dtype=object)

In [529]:
sups['Gender'].unique()

array(['Male', 'Female', '-'], dtype=object)

In [530]:
sups['Eye color'].unique()

array(['yellow', 'blue', 'green', 'brown', '-', 'red', 'violet', 'white',
       'purple', 'black', 'grey', 'silver', 'yellow / red',
       'yellow (without irises)', 'gold', 'blue / white', 'hazel',
       'green / blue', 'white / red', 'indigo', 'amber', 'yellow / blue',
       'bown'], dtype=object)

In [531]:
#Replacing - with unknown for all
sups.loc[sups['Gender'] == '-','Gender'] = 'Unknown'
sups.loc[sups['Eye color'] == '-','Eye color'] = 'Unknown'
sups.loc[sups['Hair color'] == '-','Hair color'] = 'Unknown'
sups.loc[sups['Hair color'] == 'Brownn','Hair color'] = 'Brown'
sups.loc[sups['Hair color'] == 'black','Hair color'] = 'Black'
sups.loc[sups['Skin color'] == '-','Skin color'] = 'Unknown'
sups.loc[sups['Alignment'] == '-','Alignment'] = 'Unknown'
sups.loc[sups['Alignment'] == 'neutral','Alignment'] = 'Neutral'
sups.loc[sups['Alignment'] == 'good','Alignment'] = 'Good'
sups.loc[sups['Alignment'] == 'bad','Alignment'] = 'Bad'
sups.loc[sups['Race'] == '-','Race'] = 'Unknown'
sups.loc[(sups['Publisher'] == '-') | (sups['Publisher'].isna() == True),'Publisher'] = 'Unknown'

In [532]:
#missing values
sups.isnull().sum()

name          0
Gender        0
Eye color     0
Race          0
Hair color    0
Height        0
Publisher     0
Skin color    0
Alignment     0
Weight        2
dtype: int64

### Since there are only 2 missing values, they can be dropped

In [533]:
sups=sups.dropna()

In [534]:
sups.isna().sum()

name          0
Gender        0
Eye color     0
Race          0
Hair color    0
Height        0
Publisher     0
Skin color    0
Alignment     0
Weight        0
dtype: int64

In [535]:
sups.drop(['Height', 'Weight'], axis=1, inplace=True)

In [536]:
sups = sups.rename(columns={'name': 'hero_names'})

In [537]:
#Changing other comics that arent Marvel or DC to be other
sups.loc[(sups['Publisher'] != 'Marvel Comics') & (sups['Publisher'] != 'DC Comics'),'Publisher'] = 'Other'

In [538]:
sups['Publisher'].unique()

array(['Marvel Comics', 'Other', 'DC Comics'], dtype=object)

In [539]:
sups.shape

(732, 8)

In [540]:
sups[sups['hero_names']=='Spider-Man']

,hero_names,Gender,Eye color,Race,Hair color,Publisher,Skin color,Alignment
622,Spider-Man,Male,hazel,Human,Brown,Marvel Comics,Unknown,Good
623,Spider-Man,Unknown,red,Human,Brown,Marvel Comics,Unknown,Good
624,Spider-Man,Male,brown,Human,Black,Marvel Comics,Unknown,Good

##### Working with superhero powers

In [541]:
pow= pd.read_csv('data.csv')

In [542]:
pow.head()

,id,name,powerstats__intelligence,powerstats__strength,powerstats__speed,powerstats__durability,powerstats__power,powerstats__combat,biography__full-name,biography__alter-egos,...,biography__aliases__011,biography__aliases__012,biography__aliases__013,biography__aliases__014,biography__aliases__015,biography__aliases__016,biography__aliases__017,biography__aliases__018,biography__aliases__019,biography__aliases__020
0,1,A-Bomb,38.0,100.0,17.0,80.0,24.0,64.0,Richard Milhouse Jones,No alter egos found.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Abe Sapien,88.0,28.0,35.0,65.0,100.0,85.0,Abraham Sapien,No alter egos found.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Abin Sur,50.0,90.0,53.0,64.0,99.0,65.0,NaN,No alter egos found.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Abomination,63.0,80.0,53.0,90.0,62.0,95.0,Emil Blonsky,No alter egos found.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Abraxas,88.0,63.0,83.0,100.0,100.0,55.0,Abraxas,No alter egos found.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [543]:
powers=pow.drop(['id'], axis=1)
powers.head()

,name,powerstats__intelligence,powerstats__strength,powerstats__speed,powerstats__durability,powerstats__power,powerstats__combat,biography__full-name,biography__alter-egos,biography__aliases__001,...,biography__aliases__011,biography__aliases__012,biography__aliases__013,biography__aliases__014,biography__aliases__015,biography__aliases__016,biography__aliases__017,biography__aliases__018,biography__aliases__019,biography__aliases__020
0,A-Bomb,38.0,100.0,17.0,80.0,24.0,64.0,Richard Milhouse Jones,No alter egos found.,Rick Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abe Sapien,88.0,28.0,35.0,65.0,100.0,85.0,Abraham Sapien,No alter egos found.,Langdon Everett Caul,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abin Sur,50.0,90.0,53.0,64.0,99.0,65.0,NaN,No alter egos found.,Lagzia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abomination,63.0,80.0,53.0,90.0,62.0,95.0,Emil Blonsky,No alter egos found.,Agent R-7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abraxas,88.0,63.0,83.0,100.0,100.0,55.0,Abraxas,No alter egos found.,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [544]:
powers.shape

(731, 45)

In [545]:
powers.drop(["biography__aliases__002","biography__aliases__003","biography__aliases__004","biography__aliases__005",
        "biography__aliases__005","biography__aliases__006","biography__aliases__007","biography__aliases__008",
        "biography__aliases__009","biography__aliases__010","biography__aliases__011","biography__aliases__012",
        "biography__aliases__013","biography__aliases__014","biography__aliases__015","biography__aliases__016", 'appearance__height__001', 'appearance__weight__001',
        "biography__aliases__017","biography__aliases__018","biography__aliases__019","biography__aliases__020"], axis=1, inplace = True)

In [546]:
powers.columns

Index(['name', 'powerstats__intelligence', 'powerstats__strength',
       'powerstats__speed', 'powerstats__durability', 'powerstats__power',
       'powerstats__combat', 'biography__full-name', 'biography__alter-egos',
       'biography__aliases__001', 'biography__place-of-birth',
       'biography__first-appearance', 'biography__publisher',
       'biography__alignment', 'appearance__gender', 'appearance__race',
       'appearance__height__002', 'appearance__weight__002',
       'appearance__eye-color', 'appearance__hair-color', 'work__occupation',
       'work__base', 'connections__group-affiliation',
       'connections__relatives'],
      dtype='object')

In [547]:
powers.rename(columns={"name": "hero_names","powerstats__intelligence":"Intelligence","powerstats__strength":"Strength",
                   "powerstats__speed":"Speed","powerstats__durability":"Durability",   
                   "powerstats__power":"Power","powerstats__combat":"Combat",
                   "biography__alter-egos":"Alter-ego", "biography__full-name":"Full_name",
                   "biography__place-of-birth" : "Origin","biography__first-appearance" : "First-appearance",
                   "biography__alter-egos":"Alter-ego","biography__aliases__001":"Alias",
                   "biography__publisher":"Publisher","biography__alignment":"Alignment","appearance__gender":"Gender",
                   "appearance__height__002":"Height","appearance__weight__002":"Weight","appearance__eye-color":"Eye-color",
                   "appearance__hair-color":"Hair-color","connections__group-affiliation":"Group"
                  },inplace= True)

In [548]:
powers.head()

,hero_names,Intelligence,Strength,Speed,Durability,Power,Combat,Full_name,Alter-ego,Alias,...,Gender,appearance__race,Height,Weight,Eye-color,Hair-color,work__occupation,work__base,Group,connections__relatives
0,A-Bomb,38.0,100.0,17.0,80.0,24.0,64.0,Richard Milhouse Jones,No alter egos found.,Rick Jones,...,Male,Human,203 cm,441 kg,Yellow,No Hair,"Musician, adventurer, author; formerly talk sh...",-,"Hulk Family; Excelsior (sponsor), Avengers (ho...",Marlo Chandler-Jones (wife); Polly (aunt); Mrs...
1,Abe Sapien,88.0,28.0,35.0,65.0,100.0,85.0,Abraham Sapien,No alter egos found.,Langdon Everett Caul,...,Male,Icthyo Sapien,191 cm,65 kg,Blue,No Hair,Paranormal Investigator,-,Bureau for Paranormal Research and Defense,"Edith Howard (wife, deceased)"
2,Abin Sur,50.0,90.0,53.0,64.0,99.0,65.0,NaN,No alter egos found.,Lagzia,...,Male,Ungaran,185 cm,90 kg,Blue,No Hair,"Green Lantern, former history professor",Oa,"Green Lantern Corps, Black Lantern Corps","Amon Sur (son), Arin Sur (sister), Thaal Sines..."
3,Abomination,63.0,80.0,53.0,90.0,62.0,95.0,Emil Blonsky,No alter egos found.,Agent R-7,...,Male,Human / Radiation,203 cm,441 kg,Green,No Hair,Ex-Spy,Mobile,former member of the crew of the Andromeda Sta...,"Nadia Dornova Blonsky (wife, separated)"
4,Abraxas,88.0,63.0,83.0,100.0,100.0,55.0,Abraxas,No alter egos found.,-,...,Male,Cosmic Entity,0 cm,0 kg,Blue,Black,Dimensional destroyer,-,Cosmic Beings,"Eternity (""Father"")"

In [549]:
powers.isna().sum()

hero_names                  0
Intelligence              165
Strength                  102
Speed                     165
Durability                165
Power                     165
Combat                    165
Full_name                 101
Alter-ego                   0
Alias                       0
Origin                      0
First-appearance            0
Publisher                  15
Alignment                   0
Gender                      0
appearance__race          302
Height                      1
Weight                      0
Eye-color                   0
Hair-color                  0
work__occupation            0
work__base                  0
Group                       0
connections__relatives      0
dtype: int64

In [550]:
powers.drop(['appearance__race','Publisher'], axis=1, inplace=True)

In [551]:
powers.columns

Index(['hero_names', 'Intelligence', 'Strength', 'Speed', 'Durability',
       'Power', 'Combat', 'Full_name', 'Alter-ego', 'Alias', 'Origin',
       'First-appearance', 'Alignment', 'Gender', 'Height', 'Weight',
       'Eye-color', 'Hair-color', 'work__occupation', 'work__base', 'Group',
       'connections__relatives'],
      dtype='object')

In [552]:
sups.columns

Index(['hero_names', 'Gender', 'Eye color', 'Race', 'Hair color', 'Publisher',
       'Skin color', 'Alignment'],
      dtype='object')

In [553]:
powers.rename(columns={'Eye-color':'Eye color', 'connections__relatives':'Relatives'}, inplace=True)

In [554]:
powers.columns

Index(['hero_names', 'Intelligence', 'Strength', 'Speed', 'Durability',
       'Power', 'Combat', 'Full_name', 'Alter-ego', 'Alias', 'Origin',
       'First-appearance', 'Alignment', 'Gender', 'Height', 'Weight',
       'Eye color', 'Hair-color', 'work__occupation', 'work__base', 'Group',
       'Relatives'],
      dtype='object')

In [555]:
powers.isna().sum()

hero_names            0
Intelligence        165
Strength            102
Speed               165
Durability          165
Power               165
Combat              165
Full_name           101
Alter-ego             0
Alias                 0
Origin                0
First-appearance      0
Alignment             0
Gender                0
Height                1
Weight                0
Eye color             0
Hair-color            0
work__occupation      0
work__base            0
Group                 0
Relatives             0
dtype: int64

In [556]:
powers["Intelligence"]= powers["Intelligence"].fillna(powers["Intelligence"].mean())
powers["Strength"]= powers["Strength"].fillna(powers["Strength"].mean())
powers["Speed"]= powers["Speed"].fillna(powers["Speed"].mean())
powers["Durability"]= powers["Durability"].fillna(powers["Durability"].mean())
powers["Power"]= powers["Power"].fillna(powers["Power"].mean())
powers["Combat"]= powers["Combat"].fillna(powers["Combat"].mean())

In [557]:
powers.isna().sum()

hero_names            0
Intelligence          0
Strength              0
Speed                 0
Durability            0
Power                 0
Combat                0
Full_name           101
Alter-ego             0
Alias                 0
Origin                0
First-appearance      0
Alignment             0
Gender                0
Height                1
Weight                0
Eye color             0
Hair-color            0
work__occupation      0
work__base            0
Group                 0
Relatives             0
dtype: int64

In [558]:
powers.drop(['work__occupation', 'work__base'], axis=1 ,inplace=True)

In [559]:
powers['Height'].unique()

array(['203 cm', '191 cm', '185 cm', '0 cm', '193 cm', '173 cm', '178 cm',
       '188 cm', '180 cm', '244 cm', '257 cm', '183 cm', '165 cm',
       '163 cm', '211 cm', '61.0 meters', '229 cm', '213 cm', '175 cm',
       '198 cm', '168 cm', '170 cm', '201 cm', '218 cm', '30.5 meters',
       '196 cm', '157 cm', '226 cm', nan, '267 cm', '122 cm', '975 cm',
       '142 cm', '876 cm', '62.5 meters', '108.0 meters', '701 cm',
       '259 cm', '79 cm', '155 cm', '71 cm', '287 cm', '234 cm', '64 cm',
       '366 cm', '206 cm', '305 cm', '297 cm', '137 cm', '279 cm',
       '15.2 meters', '140 cm', '160 cm', '304.8 meters', '66 cm'],
      dtype=object)

In [560]:
power=powers.copy()

In [561]:
power.head()

,hero_names,Intelligence,Strength,Speed,Durability,Power,Combat,Full_name,Alter-ego,Alias,Origin,First-appearance,Alignment,Gender,Height,Weight,Eye color,Hair-color,Group,Relatives
0,A-Bomb,38.0,100.0,17.0,80.0,24.0,64.0,Richard Milhouse Jones,No alter egos found.,Rick Jones,"Scarsdale, Arizona","Hulk Vol 2 #2 (April, 2008) (as A-Bomb)",good,Male,203 cm,441 kg,Yellow,No Hair,"Hulk Family; Excelsior (sponsor), Avengers (ho...",Marlo Chandler-Jones (wife); Polly (aunt); Mrs...
1,Abe Sapien,88.0,28.0,35.0,65.0,100.0,85.0,Abraham Sapien,No alter egos found.,Langdon Everett Caul,-,Hellboy: Seed of Destruction (1993),good,Male,191 cm,65 kg,Blue,No Hair,Bureau for Paranormal Research and Defense,"Edith Howard (wife, deceased)"
2,Abin Sur,50.0,90.0,53.0,64.0,99.0,65.0,NaN,No alter egos found.,Lagzia,Ungara,"Showcase #22 (October, 1959)",good,Male,185 cm,90 kg,Blue,No Hair,"Green Lantern Corps, Black Lantern Corps","Amon Sur (son), Arin Sur (sister), Thaal Sines..."
3,Abomination,63.0,80.0,53.0,90.0,62.0,95.0,Emil Blonsky,No alter egos found.,Agent R-7,"Zagreb, Yugoslavia",Tales to Astonish #90,bad,Male,203 cm,441 kg,Green,No Hair,former member of the crew of the Andromeda Sta...,"Nadia Dornova Blonsky (wife, separated)"
4,Abraxas,88.0,63.0,83.0,100.0,100.0,55.0,Abraxas,No alter egos found.,-,Within Eternity,Fantastic Four Annual #2001,bad,Male,0 cm,0 kg,Blue,Black,Cosmic Beings,"Eternity (""Father"")"

In [562]:
import re

# Extract the numeric value and the unit of measurement from each string
power[['value', 'unit']] = power['Height'].str.extract(r'([\d.]+)\s*([a-zA-Z]+)', expand=True)
power['value'] = power['value'].astype(float)

# Convert the values in meters to centimeters
power.loc[power['unit'] == 'meters', 'value'] = power.loc[power['unit'] == 'meters', 'value'].mul(100)

# update the 'length' column with the new values
power['Height'] = power['value'].astype(str) + ' ' + power['unit']

In [563]:
power['height2']=power['Height'].str.replace(' cm','')

In [564]:
power['height3']=power['height2'].str.replace(' meters','')

In [565]:
power.drop(['height2', 'Height'], axis=1 ,inplace=True)

In [566]:
power.drop(['value', 'unit'], axis=1 ,inplace=True)

In [567]:
power.columns

Index(['hero_names', 'Intelligence', 'Strength', 'Speed', 'Durability',
       'Power', 'Combat', 'Full_name', 'Alter-ego', 'Alias', 'Origin',
       'First-appearance', 'Alignment', 'Gender', 'Weight', 'Eye color',
       'Hair-color', 'Group', 'Relatives', 'height3'],
      dtype='object')

In [568]:
power[['value', 'unit']] = power['Weight'].str.extract(r'([\d.]+)\s*([a-zA-Z]+)', expand=True)
power['value'] = power['value'].astype(float)

# Convert the values in meters to centimeters
power.loc[power['unit'] == 'tons', 'value'] = power.loc[power['unit'] == 'tons', 'value'].mul(1000)

# update the 'length' column with the new values
power['Weight'] = power['value'].astype(str) + ' ' + power['unit']

In [569]:
power['weight2']=power['Weight'].str.replace(' kg','')

In [570]:
power['weight3']=power['weight2'].str.replace(' tons','')

In [571]:
power.drop(['weight2', 'Weight', 'value', 'unit'], axis=1 ,inplace=True)

In [572]:
power.drop(['Full_name','Alignment','Eye color', 'Hair-color'], axis=1 ,inplace=True)

In [573]:
power.columns

Index(['hero_names', 'Intelligence', 'Strength', 'Speed', 'Durability',
       'Power', 'Combat', 'Alter-ego', 'Alias', 'Origin', 'First-appearance',
       'Gender', 'Group', 'Relatives', 'height3', 'weight3'],
      dtype='object')

In [574]:
power.isna().sum()

hero_names          0
Intelligence        0
Strength            0
Speed               0
Durability          0
Power               0
Combat              0
Alter-ego           0
Alias               0
Origin              0
First-appearance    0
Gender              0
Group               0
Relatives           0
height3             1
weight3             0
dtype: int64

In [575]:
power=power.dropna()

In [576]:
power.loc[power['First-appearance'] == '-','First-appearance'] = 'Unknown'
power.loc[power['Alias'] == '-','Alias'] = 'Unknown'
power.loc[power['Origin'] == '-','Origin'] = 'Unknown'
power.loc[power['Group'] == '-','Group'] = 'Unknown'
power.loc[power['Relatives'] == '-','Relatives'] = 'Unknown'
power.loc[power['Gender'] == '-','Gender'] = 'Unknown'

In [577]:
power.shape

(730, 16)

In [578]:
sups.shape

(732, 8)

In [579]:
power.dtypes

hero_names           object
Intelligence        float64
Strength            float64
Speed               float64
Durability          float64
Power               float64
Combat              float64
Alter-ego            object
Alias                object
Origin               object
First-appearance     object
Gender               object
Group                object
Relatives            object
height3              object
weight3              object
dtype: object

In [580]:
power = power.rename(columns={'height3': 'Height', 'weight3':'Weight'})

In [581]:
power.columns

Index(['hero_names', 'Intelligence', 'Strength', 'Speed', 'Durability',
       'Power', 'Combat', 'Alter-ego', 'Alias', 'Origin', 'First-appearance',
       'Gender', 'Group', 'Relatives', 'Height', 'Weight'],
      dtype='object')

In [582]:
power = power.astype({'Weight': float, 'Height': float})

In [583]:
power.dtypes

hero_names           object
Intelligence        float64
Strength            float64
Speed               float64
Durability          float64
Power               float64
Combat              float64
Alter-ego            object
Alias                object
Origin               object
First-appearance     object
Gender               object
Group                object
Relatives            object
Height              float64
Weight              float64
dtype: object

In [584]:
power.shape

(730, 16)

In [585]:
sups.shape

(732, 8)

In [586]:
merged_df = pd.merge(sups, power, on=['hero_names','Gender'], suffixes=('_sups', '_power'))

In [587]:
merged_df.shape

(758, 22)

In [588]:
merg=merged_df.drop_duplicates(keep='first')

In [589]:
merg.shape

(753, 22)

In [590]:
power['hero_names'].value_counts()

Spider-Man         3
Goliath            3
Captain Marvel     2
Blue Beetle        2
Toxin              2
                  ..
Feral              1
Fighting Spirit    1
Fin Fang Foom      1
Firebird           1
Zoom               1
Name: hero_names, Length: 711, dtype: int64

In [591]:
sups['hero_names'].value_counts()

Spider-Man         3
Goliath            3
Captain Marvel     2
Blue Beetle        2
Toxin              2
                  ..
Feral              1
Fighting Spirit    1
Fin Fang Foom      1
Firebird           1
Zoom               1
Name: hero_names, Length: 713, dtype: int64

In [592]:
merged_df['hero_names'].value_counts()

Goliath            9
Spider-Man         5
Batgirl            4
Blizzard           4
Batman             4
                  ..
Feral              1
Fighting Spirit    1
Fin Fang Foom      1
Firebird           1
Zoom               1
Name: hero_names, Length: 709, dtype: int64

In [593]:
sups.to_excel('sups.xlsx')

In [594]:
power.to_excel('power.xlsx')

In [596]:
sups['Alignment'].unique()

array(['Good', 'Bad', 'Unknown', 'Neutral'], dtype=object)